<form [formGroup]="quoteForm" class="row g-5">
  <mat-accordion multi class="col-lg-6 col-md-12">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Customer details </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="customer-general-print-details-height row">
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Customer</mat-label>
          <input type="text" matInput formControlName="nameFormControl" maxlength="50">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateFormControl" maxlength="50">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-12" floatLabel="always" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea maxlength="150" formControlName="descriptionFormControl" matInput placeholder="Insert description"></textarea>
        </mat-form-field>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Preparation </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="preparation-miscellaneous-height">
        <div class="row mb-2">
          <label for="modelPreparation" class={{labelClass}}>Model preparation (Fixing, CAD…)</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="modelPreparation" placeholder="0" data-form-type="modelPreparation">
              <span class="input-group-text" id="basic-addon-preparation">min</span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="slicing" class={{labelClass}}>Slicing (Supports, Parameters…)</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="slicing" placeholder="0" data-form-type="slicing">
              <span class="input-group-text" id="basic-addon-slicing">min</span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="materialChange" class={{labelClass}}>Material change</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="materialChange" placeholder="0" data-form-type="materialChange">
              <span class="input-group-text" id="basic-addon-materialChange">min</span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="transferAndStart" class={{labelClass}}>Transfer & Start</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="transferAndStart" placeholder="0" data-form-type="transferAndStart">
              <span class="input-group-text" id="basic-addon-transferAndStart">min</span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Sum</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" disabled id="sum" placeholder="0" data-form-type="sum">
              <span class="input-group-text" id="basic-addon-sum">min</span>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Costs summary </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="costs-quote-height">
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Filament</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="filament" placeholder="0" data-form-type="filament">
              <span class="input-group-text" id="basic-addon-filament" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Electricity</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="electricity" placeholder="0" data-form-type="electricity">
              <span class="input-group-text" id="basic-addon-electricity" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Printer depreciation</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="printerDepreciation" placeholder="0" data-form-type="printerDepreciation">
              <span class="input-group-text" id="basic-addon-printerDepreciation" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Preparation</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="preparationTotal" placeholder="0" data-form-type="preparationTotal">
              <span class="input-group-text" id="basic-addon-preparationTotal" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Post-processing</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="postProcessing" placeholder="0" data-form-type="postProcessing">
              <span class="input-group-text" id="basic-addon-postProcessing" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Consumables</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="consumablesTotal" placeholder="0" data-form-type="consumablesTotal">
              <span class="input-group-text" id="basic-addon-consumablesTotal" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Subtotal</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="subTotal" placeholder="0" data-form-type="subTotal">
              <span class="input-group-text" id="basic-addon-subTotal" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="sum" class={{labelClass}}>Including failures</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="failureTotal" placeholder="0" data-form-type="failureTotal">
              <span class="input-group-text" id="basic-addon-failureTotal" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion multi class="col-lg-6 col-md-12">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> General print details </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="customer-general-print-details-height row">
        <mat-form-field class="col-6">
          <mat-label>Printer</mat-label>
          <mat-select id="printerSelect" #printerSelect aria-label="Printer select"  (selectionChange)="onPrinterSelected(printerSelect.value)" formControlName="printerFormControl">
            <ng-container *ngIf="printers && printers.length > 0">
              <mat-option *ngFor="let printer of printers; let i = index" [value]=[i]>
                {{printers[i].name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Filament</mat-label>
          <mat-select id="filamentSelect" #filamentSelect aria-label="Filament select" formControlName="filamentFormControl">
            <ng-container *ngIf="!selectedPrinter">
              <mat-option value="">Please select a printer first</mat-option>
            </ng-container>
            <ng-container *ngIf="filaments && filaments.length > 0">
              <mat-option *ngFor="let filament of filaments; let i = index" [value]="i">
                {{filaments[i].name}}
              </mat-option>
            </ng-container>

            <ng-container *ngIf="selectedPrinter && filaments && filaments.length == 0">
              <mat-option value="">No filament compatible for this printer</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Weight</mat-label>
          <input type="number" min="0" matInput placeholder="Insert the weight of the print" formControlName="nameFormControl">
          <span matTextSuffix>g</span>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-3 pe-0" floatLabel="always">
          <mat-label>Print time in hours</mat-label>
          <input type="number" min="0" matInput placeholder="Hours" formControlName="printTimeHoursFormControl">
          <span matTextSuffix>hh</span>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-3 ps-0" floatLabel="always">
          <mat-label>Print time in minutes</mat-label>
          <input type="number" min="0" max="59" matInput placeholder="Minutes" formControlName="printTimeMinutesFormControl">
          <span matTextSuffix>mm</span>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Miscellaneous </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="preparation-miscellaneous-height">
        <div class="row mb-2">
          <label for="consumables" class={{labelClass}}>Consumables</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="consumables" placeholder="0" data-form-type="consumables">
              <span class="input-group-text" id="basic-addon-consumables" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="energyCost" class={{labelClass}}>Energy cost</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="energyCost" min="0" placeholder="0" step="0.01" data-form-type="energyCost">
              <span class="input-group-text" id="basic-addon-energyCost" [innerText]="selectedCurrency + '/kWh'"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="laborCost" class={{labelClass}}>Labor Costs</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="laborCost" placeholder="0" data-form-type="laborCost">
              <span class="input-group-text" id="basic-addon-laborCost"  [innerText]="selectedCurrency + '/h'"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="failureRate" class={{labelClass}}>Failure rate</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="failureRate" placeholder="0" min="0" max="100" data-form-type="failureRate">
              <span class="input-group-text" id="basic-addon-failure_rate">%</span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="currencySelect" class={{labelClass}}>Currency unit</label>

          <div class={{inputDivClass}}>
            <select class="form-select" #currencySelect id="currencySelect" (change)="onCurrencySelected()"
                    aria-label="Currency unit select" [value]="selectedCurrency" [(ngModel)]="selectedCurrency" name="first">
              <option value="€">€</option>
              <option value="£">£</option>
              <option value="$">$</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="dickFee" class={{labelClass}}>Client is very demanding fee</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="dickFee" placeholder="0" data-form-type="dickFee">
              <span class="input-group-text" id="basic-addon-dickFee" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Quote </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="costs-quote-height">
        <div class="row mb-2">
          <label for="markup" class={{labelClass}}>Markup</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="markup" placeholder="0" data-form-type="markup">
              <span class="input-group-text" id="basic-addon-markup">%</span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="suggestedPrice" class={{labelClass}}>Suggested prize</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" disabled class="form-control" id="suggestedPrice" placeholder="0" data-form-type="suggestedPrice">
              <span class="input-group-text" id="basic-addon-suggestedPrice" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label for="quotedPrice" class={{labelClass}}>Quoted price</label>

          <div class={{inputDivClass}}>
            <div class="input-group">
              <input type="number" class="form-control" id="quotedPrice" placeholder="0" data-form-type="quotedPrice">
              <span class="input-group-text" id="basic-addon-quotedPrice" [innerText]="selectedCurrency"></span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-form-label">Part costs</label>
          <div #containerRef id="containerRef">
            <ngx-charts-pie-chart
              [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
              [results]="saleData"
              [legend]="false"
              [legendTitle]="'Part costs'"
              [labels]="true"
              [trimLabels]="false"
              [labelFormatting]="labelFormatting">
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</form>
