@use '@angular/material' as mat;
@use 'sass:map';
@import "../../../theme.scss";

.mat-form-field-full-width {
  width: 100%;
}

::ng-deep .ngx-charts {
  text {
    fill: mat.get-theme-color($my-app-theme, primary, 100) !important;
  }
}

.border-tr-0 * {
  border-top-right-radius: 0 !important;
}

.border-tl-0 * {
  border-top-left-radius: 0 !important;
}

.time-error-width {
  width: 300px;
}
