<h1 mat-dialog-title>{{ data.title }}</h1>

<form [formGroup]="addPrinterForm" class="example-form" (ngSubmit)="addPrinter()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill" class="mat-form-field-full-width" floatLabel="always">
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="addPrinterForm.controls.nameFormControl" [errorStateMatcher]="matcher" required maxlength="50">
      <mat-error *ngIf="addPrinterForm.controls.nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field appearance="fill" class="mat-form-field-full-width" floatLabel="always">
      <mat-label>Filament diameter</mat-label>
      <mat-select [formControl]="addPrinterForm.controls.filamentDiameterFormControl" [errorStateMatcher]="matcher" required>
        <mat-option [value]="1.75">1.75mm</mat-option>
        <mat-option [value]="2.85">2.85mm</mat-option>
      </mat-select>
      <mat-error *ngIf="addPrinterForm.controls.filamentDiameterFormControl.hasError('required')">
        Filament diameter is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field appearance="fill" class="mat-form-field-full-width" floatLabel="always">
      <mat-label>Price</mat-label>
      <input type="number" matInput [formControl]="addPrinterForm.controls.priceFormControl" [errorStateMatcher]="matcher" required maxlength="10" min="0">
      <span matSuffix>{{selectedCurrency}}</span>
      <mat-error *ngIf="addPrinterForm.controls.priceFormControl.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field appearance="fill" class="mat-form-field-full-width" floatLabel="always">
      <mat-label>Depreciation time</mat-label>
      <input type="number" matInput [formControl]="addPrinterForm.controls.depreciationTimeFormControl" [errorStateMatcher]="matcher" required maxlength="10">
      <span matSuffix>hours</span>
      <mat-hint> How many hours the printer should run before being unusable </mat-hint>
      <mat-error *ngIf="addPrinterForm.controls.depreciationTimeFormControl.hasError('required')">
        Depreciation time is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field appearance="fill" class="mat-form-field-full-width" floatLabel="always">
      <mat-label>Service cost per life</mat-label>
      <input type="number" matInput [formControl]="addPrinterForm.controls.serviceCostPerLifeFormControl" [errorStateMatcher]="matcher" required maxlength="10">
      <span matSuffix>{{selectedCurrency}}</span>
      <mat-hint> How much it would cost to fix the printer (spare parts and labor, 10-25% of the printer price is a good estimation) </mat-hint>
      <mat-error *ngIf="addPrinterForm.controls.serviceCostPerLifeFormControl.hasError('required')">
        Service cost per life is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field appearance="fill" class="mat-form-field-full-width" floatLabel="always">
      <mat-label>Energy consumption</mat-label>
      <input type="number" matInput [formControl]="addPrinterForm.controls.energyConsumptionFormControl" [errorStateMatcher]="matcher" required maxlength="10" placeholder="0">
      <span matSuffix>kWh/h</span>
      <mat-hint> How much energy does the printer consume during printing </mat-hint>
      <mat-error *ngIf="addPrinterForm.controls.energyConsumptionFormControl.hasError('required')">
        Energy consumption is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="dialogRef.close()">Cancel</button>

    <button type="submit" mat-raised-button color="primary" [disabled]="!addPrinterForm.valid">{{ data.title }}</button>
  </mat-dialog-actions>

</form>
