<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
  <form [formGroup]="addFilamentForm" (ngSubmit)="addFilament()" class="row">
    <mat-form-field appearance="fill" class="col-12" floatLabel="always">
      <mat-label>Manufacturer</mat-label>
      <input type="text" matInput [formControl]="addFilamentForm.controls.nameFormControl" maxlength="50">
      <mat-error>
        Manufacturer is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12" floatLabel="always">
      <mat-label>Filament diameter</mat-label>
      <mat-select [formControl]="addFilamentForm.controls.filamentDiameterFormControl">
        <mat-option [value]="1.75">1.75mm</mat-option>
        <mat-option [value]="2.85">2.85mm</mat-option>
      </mat-select>
      <mat-error>
        Filament diameter is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Spool Price</mat-label>
      <input type="number" matInput formControlName="priceFormControl" min="0">
      <span matSuffix>{{selectedCurrency.symbol}}</span>
      <mat-error>
        Spool Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12" floatLabel="always">
      <mat-label>Filament Weight</mat-label>
      <input type="number" matInput [formControl]="addFilamentForm.controls.filamentWeightFormControl">
      <span matSuffix>kg</span>
      <mat-error>
        Filament Weight is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12" floatLabel="always">
      <mat-label>Density </mat-label>
      <input type="number" matInput [formControl]="addFilamentForm.controls.densityFormControl">
      <span matSuffix>[g/cm³]</span>
      <mat-error>
        Density is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12" floatLabel="always">
      <mat-label>Nozzle Temp</mat-label>
      <input type="number" matInput [formControl]="addFilamentForm.controls.nozzleTempFormControl">
      <span matSuffix>°C</span>
      <mat-hint> Optional </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12" floatLabel="always">
      <mat-label>Bed Temp</mat-label>
      <input type="number" matInput [formControl]="addFilamentForm.controls.bedTempFormControl" placeholder="0"/>
      <span matSuffix>°C</span>
      <mat-hint> Optional </mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="dialogRef.close()">Cancel</button>

  <button type="submit" mat-raised-button color="primary" [disabled]="!addFilamentForm.valid">{{data.title}}</button>
</mat-dialog-actions>
