<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <span class="fs-4 me-3">3d Printing Quoting Website</span>

      <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav col-12 col-lg-auto me-auto mb-2 justify-content-center mb-md-0">
        <li [ngbNavItem]="1" class="active">
          <a ngbNavLink class="nav-link px-2">Home</a>
          <ng-template ngbNavContent>
            <home-page (currencySelectedEvent)="onCurrencySelected($event)"
                       [printers]="printers"></home-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="nav-link px-2">Printers</a>
          <ng-template ngbNavContent>
            <printer-page (printerAddedEvent)="onPrinterAdded($event)"  [selectedCurrency]="selectedCurrency"></printer-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink class="nav-link px-2">Material</a>
          <ng-template ngbNavContent>
            <filament-page [selectedCurrency]="selectedCurrency"></filament-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink class="nav-link px-2">About</a>
          <ng-template ngbNavContent>Fourth content</ng-template>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--<div class="container">-->
<!--  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">-->
<!--    <mat-toolbar color = "primary">-->
<!--      <span class = "fs-4 me-3">3d Printing Quoting Website</span>-->
<!--      <span>Home</span>-->
<!--      <span>Printers</span>-->
<!--      <span>Material</span>-->
<!--      <span>About</span>-->
<!--    </mat-toolbar>-->
<!--  </div>-->
<!--</div>-->

<div [ngbNavOutlet]="nav" class="container mt-5 mb-5 main"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-1 mb-1">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Printers</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Material</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 CheeseMcBaguette, Inc</p>
  </footer>
</div>
