<header class="pb-3">
  <mat-toolbar color="primary">
      <h1 class="px-3">3d Printing Quoting Website</h1>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="header-nav nav">

        <li [ngbNavItem]="1" class="active" routerLink="/home">
          <a mat-button ngbNavLink>Home</a>
          <ng-template ngbNavContent>
            <home-page (currencySelectedEvent)="onCurrencySelected($event)"
                       [printers]="printers"></home-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" routerLink="/printers">
          <a mat-button ngbNavLink>Printers</a>
          <ng-template ngbNavContent>
            <printer-page (printerAddedEvent)="onPrinterAdded($event)"  [selectedCurrency]="selectedCurrency"></printer-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" routerLink="/material">
          <a mat-button ngbNavLink>Material</a>
          <ng-template ngbNavContent>
            <filament-page [selectedCurrency]="selectedCurrency"></filament-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="4" routerLink="/about">
          <a mat-button ngbNavLink>About</a>
          <ng-template ngbNavContent>
            <about-page></about-page>
          </ng-template>
        </li>
      </ul>

  </mat-toolbar>
</header>

<div class="container mt-5 mb-5 main">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="py-3 my-4">
    <ul ngbNav [(activeId)]="active" [destroyOnHide]="false" class="nav justify-content-center border-bottom pb-1 mb-1">
      <li>
        <a class="nav-link px-2 text-muted" routerLink="/home">Home</a>
      </li>
      <li [ngbNavItem]="2">
        <a class="nav-link px-2 text-muted" routerLink="/printers">Printers</a>
      </li>
      <li [ngbNavItem]="3">
        <a class="nav-link px-2 text-muted" routerLink="/material">Material</a>
      </li>
      <li [ngbNavItem]="4">
        <a class="nav-link px-2 text-muted" routerLink="/about">About</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2022 CheeseMcBaguette, Inc</p>
  </footer>
</div>
