@use '@angular/material' as mat;

.main {
  min-height: 1000px;
}

.nav-link{
  --bs-text-opacity:1;
  color:rgba(var(--bs-white-rgb),var(--bs-text-opacity));
}

.header-nav .nav-link.active {
  --bs-text-opacity:1;
  //color:rgba(var(--bs-secondary-rgb),var(--bs-text-opacity));
  background: rgba(0,0,0,.2);
}

.title-center {
  margin: 0 auto;
}
