<header class="pb-3">
  <mat-toolbar>
      <h1 class="px-3">3d Print Quoting Website</h1>
      <ul ngbNav class="header-nav nav">

        <li [ngbNavItem]="1">
          <a mat-button ngbNavLink routerLink="/home" routerLinkActive="active">Home</a>
          <ng-template ngbNavContent>
            <home-page></home-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a mat-button ngbNavLink routerLink="/printers" routerLinkActive="active">Printers</a>
          <ng-template ngbNavContent>
            <printer-page></printer-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a mat-button ngbNavLink routerLink="/material" routerLinkActive="active">Material</a>
          <ng-template ngbNavContent>
            <filament-page></filament-page>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a mat-button ngbNavLink routerLink="/about" routerLinkActive="active">About</a>
          <ng-template ngbNavContent>
            <about-page></about-page>
          </ng-template>
        </li>
      </ul>

  </mat-toolbar>
</header>

<div class="container mt-5 mb-5 main">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="py-3 my-4 text-white">
    <ul class="footer-nav nav justify-content-center border-bottom pb-1 mb-1">
      <li>
        <a class="nav-link px-2 text-white" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav-link px-2 text-white" routerLink="/printers" routerLinkActive="active">Printers</a>
      </li>
      <li>
        <a class="nav-link px-2 text-white" routerLink="/material" routerLinkActive="active">Material</a>
      </li>
      <li>
        <a class="nav-link px-2 text-white" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
    <p class="text-center text-white">© 2024 CheeseMcBaguette, Inc</p>
  </footer>
</div>
