@use '@angular/material' as mat;
@use 'sass:map';
@import "../theme.scss";

.main {
  flex: 1; /* Prend toute la place disponible */
}

.title-center {
  margin: 0 auto;
}

mat-toolbar {
  background-color: mat.get-theme-color($my-app-theme, primary, 30);
}

.header-nav .nav-link.active {
  --bs-text-opacity:1;
  background-color: mat.get-theme-color($my-app-theme, primary, 35);
}

.footer {
  color: mat.get-theme-color($my-app-theme, primary, 100) !important;
  background-color: transparent !important;
}

.footer .nav-link{
  color: mat.get-theme-color($my-app-theme, primary, 100) !important;
  background-color: transparent !important;
}

//to display mobile menu
@media screen and (max-width: 590px) {
  ul {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

//to display regular menu
@media screen and (min-width: 591px) {
  ul .header-nav .nav {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}

