<form [formGroup]="quoteForm" class="row g-3">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Customer Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <mat-form-field appearance="fill" class="col-12" floatLabel="always">
        <mat-label>Which customer ?</mat-label>
        <input matInput type="search" maxlength="50" [formControl]="quoteForm.controls.nameFormControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomerFn" (optionSelected)="onCustomerSelected($event.option.value)">
          <ng-container *ngIf="(customers$ | async)?.length; else noOptions">
            <mat-option *ngFor="let customer of customers$ | async" [value]="customer">
              <div class="d-flex align-items-center">
                <span class="me-2">{{customer.name}}</span>
                <small class="text-muted" *ngIf="customer.email">({{customer.email}})</small>
              </div>
            </mat-option>
          </ng-container>

          <!--          Display option to create a new customer-->
          <ng-template #noOptions>
            <mat-option *ngIf="quoteForm.controls.nameFormControl.value?.trim()?.length" (click)="createNewCustomer(quoteForm.controls.nameFormControl.value)">
              <div class="d-flex align-items-center">
                <mat-icon class="me-2">add</mat-icon>
                Create customer "{{ quoteForm.controls.nameFormControl.value }}"
              </div>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>

      <!--      Display selected customer details-->
      <div *ngIf="selectedCustomer" class="mt-2">
        <div class="d-flex align-items-center">
          <mat-icon class="me-2">person</mat-icon>
          <div>
            <div class="fw-bold">{{selectedCustomer.name}}</div>
            <div class="text-muted small" *ngIf="selectedCustomer.email">{{selectedCustomer.email}}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>General Print Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="row">
        <!--      Quote issued date form field-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Date issued DD/MM/YYYY</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateFormControl" maxlength="50">

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <!--      Print quantity-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Quantity</mat-label>
          <input type="number" min="1" matInput placeholder="Number of prints to quote" formControlName="quantityFormControl">
        </mat-form-field>
      </div>

      <!--      Print description-->
      <mat-form-field class="col-12" floatLabel="always" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea maxlength="150" formControlName="descriptionFormControl" matInput placeholder="Insert description"></textarea>
      </mat-form-field>

      <div class="row">
        <!--      Printer selection-->
        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Printer</mat-label>
          <mat-select id="printerSelect" #printerSelect aria-label="Printer select"  (selectionChange)="onPrinterSelected(printerSelect.value)" formControlName="printerFormControl">
            <ng-container *ngIf="printers">
              <mat-option *ngFor="let printer of printers; let i = index" [value]=i>
                {{printers[i].name}}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Printer is <strong>required</strong></mat-error>
        </mat-form-field>

        <!--      Filament selection-->
        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Filament</mat-label>
          <mat-select id="filamentSelect" #filamentSelect aria-label="Filament select" formControlName="filamentFormControl">
            <ng-container *ngIf="!selectedPrinter">
              <mat-option value="">Please select a printer first</mat-option>
            </ng-container>
            <ng-container *ngIf="filaments && filaments.length > 0">
              <mat-option *ngFor="let filament of filaments; let i = index" [value]="i">
                {{filaments[i].name}}
              </mat-option>
            </ng-container>

            <ng-container *ngIf="selectedPrinter && filaments && filaments.length == 0">
              <mat-option value="">No filament compatible for this printer</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Filament is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!--      Print weight-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Weight</mat-label>
          <input type="number" min="0" matInput placeholder="Weight of the print" formControlName="printWeightFormControl">
          <span matTextSuffix>g</span>
          <mat-error>Print weight is <strong>required</strong></mat-error>
        </mat-form-field>

        <!--      Print time-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always" >
          <mat-label>Print time in hours</mat-label>
          <input class="border-tr-0" type="number" min="0" matInput placeholder="Hours" formControlName="printTimeHoursFormControl">
          <span matTextSuffix>hh</span>
          <mat-error>Print time is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!--      Consumables-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Consumables</mat-label>
          <input type="number" min="0" matInput formControlName="consumablesFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--    Failure rate-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Failure rate</mat-label>
          <input type="number" min="0" matInput formControlName="failureRateFormControl">
          <span matTextSuffix>%</span>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Print Preparation</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">

      <div class="row">
        <!--          Model preparation time-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Model preparation (Fixing, CAD…)</mat-label>
          <input type="number" min="0" matInput formControlName="modelPreparationFormControl">
          <span matTextSuffix>min</span>
        </mat-form-field>

        <!--          Slicing time-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Slicing (Supports, Parameters…)</mat-label>
          <input type="number" min="0" matInput formControlName="slicingFormControl">
          <span matTextSuffix>min</span>
        </mat-form-field>
      </div>

      <div class="row">
        <!--          Filament change time-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Material change</mat-label>
          <input type="number" min="0" matInput formControlName="materialChangeFormControl">
          <span matTextSuffix>min</span>
        </mat-form-field>

        <!--          Transfer and start time-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Transfer & Start</mat-label>
          <input type="number" min="0" matInput formControlName="transferAndStartFormControl">
          <span matTextSuffix>min</span>
        </mat-form-field>
      </div>

      <div class="row">
        <!--          Additional work time-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Additional work</mat-label>
          <input type="number" min="0" matInput formControlName="additionalWorkFormControl">
          <span matTextSuffix>min</span>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!--  Cost Summary Card-->
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Cost Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="row">
        <!--      Filament cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Filament</mat-label>
          <input matInput formControlName="filamentCostSummaryFormControl" step=".01">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      Printer deprecation cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Printer deprecation</mat-label>
          <input matInput formControlName="printerDeprecationCostSummaryFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      Electricity cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Electricity</mat-label>
          <input formControlName="electricityCostSummaryFormControl" matInput>
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      Preparation time cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Preparation</mat-label>
          <input matInput formControlName="preparationCostSummaryFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>
      </div>

      <div class="row">
        <!--      Consumables cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Consumables</mat-label>
          <input type="number" matInput formControlName="consumablesCostSummaryFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      Subtotal cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Subtotal</mat-label>
          <input type="number" matInput formControlName="subtotalCostSummaryFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      Subtotal with failures cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Including failures</mat-label>
          <input type="number" matInput formControlName="subtotalWithFailuresCostSummaryFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      Markup cost summary-->
        <mat-form-field appearance="fill" class="col-3" floatLabel="always">
          <mat-label>Markup</mat-label>
          <input type="number" min="0" matInput formControlName="markupCostSummaryFormControl">
          <span matTextSuffix>%</span>
        </mat-form-field>
      </div>

      <div class="row">
        <!--      Suggested price-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Suggested price</mat-label>
          <input type="number" matInput formControlName="suggestedPriceCostSummaryFormControl">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>

        <!--      quoted price-->
        <mat-form-field appearance="fill" class="col-6" floatLabel="always">
          <mat-label>Quoted price</mat-label>
          <input type="number" matInput [value]="0">
          <span matTextSuffix>{{selectedCurrency?.symbol}}</span>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-footer class="p-3">
      <div class="d-flex justify-content-end gap-2">
        <button mat-raised-button color="basic" routerLink="/my-quotes">Cancel</button>
        <button mat-raised-button color="primary" (click)="openCostBreakdownDialog()">View Cost Breakdown</button>
        <button mat-raised-button color="primary" (click)="createQuote()">Create Quote</button>
      </div>
    </mat-card-footer>
  </mat-card>
</form>

<!-- Template for the cost breakdown dialog -->
<ng-template #costBreakdownDialog>
  <h2 mat-dialog-title>Cost Breakdown Percentage</h2>
  <mat-dialog-content>
    <div #containerRef id="containerRef" class="dark">
      <ngx-charts-pie-chart
        [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
        [results]="saleData"
        [legend]="false"
        [legendTitle]="'Part costs'"
        [labels]="true"
        [trimLabels]="false"
        [labelFormatting]="labelFormatting">
      </ngx-charts-pie-chart>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
