@use '@angular/material' as mat;

@include mat.core();

$my-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  density: (
    scale: -1
  )
));

html {
  @include mat.all-component-themes($my-app-theme);
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-theme-color($my-app-theme, neutral, 20)
}

.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

