@use '@angular/material' as mat;

@include mat.core();
@import "mat-icon-button-sizes/style.css";

$my-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  density: (
    scale: -1
  )
));

html {
  @include mat.all-component-themes($my-app-theme);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de l'écran */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-theme-color($my-app-theme, neutral, 20)
}

.filler {
  flex: 1 1 auto;
}

.gap {
  margin-right: 10px;
}

.mdc-text-field--disabled
{
  fill: mat.get-theme-color($my-app-theme, primary, 100) !important;
  color: mat.get-theme-color($my-app-theme, primary, 100) !important;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  fill: mat.get-theme-color($my-app-theme, primary, 100) !important;
  color: mat.get-theme-color($my-app-theme, primary, 100) !important;
}

.border-tr-0 .mdc-text-field {
  border-top-right-radius: 0;
}

.border-tl-0 .mdc-text-field {
  border-top-left-radius: 0;
}

.edit {
  color: mat.get-theme-color($my-app-theme, primary, 80) !important;
}

.delete {
  color: mat.get-theme-color($my-app-theme, error, 40) !important;
}

mat-header-cell {
  color: mat.get-theme-color($my-app-theme, primary, 80);
}

:root {
  --mat-table-header-headline-color: #{mat.get-theme-color($my-app-theme, primary, 80)};
}

//fix for mat form field suffix padding inside dialogs
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 16px !important;
}

//to only have the table overflowing and not the entire page on mobile
.div-table {
  width: 100%;
  overflow-x: auto;
}

