<div class="row g-5">
  <div class="col-lg-5">
    <form>
      <ngb-accordion #acc="ngbAccordion" [activeIds]="activePanels" class="mb-5">
        <ngb-panel title="Customer details" id="panel-1">
          <ng-template ngbPanelContent>
            <div class="row mb-2">
              <label for="customerName" class="col-sm-5 col-form-label">Customer</label>

              <div class="col-sm-7">
                <input type="text" class="form-control" id="customerName" placeholder="Steve" data-form-type="name">
              </div>
            </div>
            <div class="row mb-2">
              <label for="datePicker" class="col-sm-5 col-form-label">Date</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" id="datePicker"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="description" class="col-sm-5 col-form-label">Description</label>

              <div class="col-sm-7">
                <textarea  rows="3" class="form-control" id="description" placeholder="Insert description" data-form-type="description"></textarea>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel title="General print details" id="panel-2">
          <ng-template ngbPanelContent>
            <div class="row mb-2">
              <label for="selectPrinter" class="col-sm-5 col-form-label">Printer</label>

              <div class="col-sm-7">
                <input type="text" class="form-control" id="selectPrinter" placeholder="Prusa i3 MK3S" data-form-type="printer">
              </div>
            </div>
            <div class="row mb-2">
              <label for="selectFilament" class="col-sm-5 col-form-label">Filament</label>

              <div class="col-sm-7">
                <input type="text" class="form-control" id="selectFilament" placeholder="Prusament PETG Black" data-form-type="filament">
              </div>
            </div>
            <div class="row mb-2">
              <label for="weight" class="col-sm-5 col-form-label">Weight</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="weight" placeholder="Insert the weight of the print" data-form-type="weight">
                  <span class="input-group-text" id="basic-addon-weight">g</span>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="printTimeHours" class="col-sm-5 col-form-label">Printing time</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="printTimeHours" placeholder="Hours" data-form-type="printTime" min="0">
                  <span class="input-group-text" id="basic-addon-hours">hh</span>
                  <input type="number" class="form-control" id="printTimeMins" placeholder="Minutes" data-form-type="printTime" min="0" max="60">
                  <span class="input-group-text" id="basic-addon-mins">mm</span>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel title="Preparation" id="panel-3">
          <ng-template ngbPanelContent>
            <div class="row mb-2">
              <label for="modelPreparation" class="col-sm-5 col-form-label">Model preparation (Fixing, CAD…)</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="modelPreparation" placeholder="0" data-form-type="modelPreparation">
                  <span class="input-group-text" id="basic-addon-preparation">min</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="slicing" class="col-sm-5 col-form-label">Slicing (Supports, Parameters…)</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="slicing" placeholder="0" data-form-type="slicing">
                  <span class="input-group-text" id="basic-addon-slicing">min</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="materialChange" class="col-sm-5 col-form-label">Material change</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="materialChange" placeholder="0" data-form-type="materialChange">
                  <span class="input-group-text" id="basic-addon-materialChange">min</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="transferAndStart" class="col-sm-5 col-form-label">Transfer & Start</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="transferAndStart" placeholder="0" data-form-type="transferAndStart">
                  <span class="input-group-text" id="basic-addon-transferAndStart">min</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Sum</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" disabled id="sum" placeholder="0" data-form-type="sum">
                  <span class="input-group-text" id="basic-addon-sum">min</span>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel title="Miscellaneous" id="panel-4">
          <ng-template ngbPanelContent>
            <div class="row mb-2">
              <label for="consumables" class="col-sm-5 col-form-label">Consumables</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="consumables" placeholder="0" data-form-type="consumables">
                  <span class="input-group-text" id="basic-addon-consumables" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="energyCost" class="col-sm-5 col-form-label">Energy cost</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="energyCost" min="0" placeholder="0" step="0.01" data-form-type="energyCost">
                  <span class="input-group-text" id="basic-addon-energyCost" [innerText]="selectedCurrency + '/kWh'"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="laborCost" class="col-sm-5 col-form-label">Labor Costs</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="laborCost" placeholder="0" data-form-type="laborCost">
                  <span class="input-group-text" id="basic-addon-laborCost"  [innerText]="selectedCurrency + '/h'"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="failureRate" class="col-sm-5 col-form-label">Failure rate</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="failureRate" placeholder="0" min="0" max="100" data-form-type="failureRate">
                  <span class="input-group-text" id="basic-addon-failure_rate">%</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="currencySelect" class="col-sm-5 col-form-label">Currency unit</label>

              <div class="col-sm-7">
                <select class="form-select" #currencySelect id="currencySelect" (change)="onCurrencySelected()"
                        aria-label="Currency unit select" [value]="selectedCurrency" [(ngModel)]="selectedCurrency" name="first">
                  <option value="€">€</option>
                  <option value="£">£</option>
                  <option value="$">$</option>
                </select>
              </div>
            </div>
            <div class="row mb-2">
              <label for="dickFee" class="col-sm-5 col-form-label">Client is a dick fee</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="dickFee" placeholder="0" data-form-type="dickFee">
                  <span class="input-group-text" id="basic-addon-dickFee" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel title="Costs" id="panel-5">
          <ng-template ngbPanelContent>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Filament</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="filament" placeholder="0" data-form-type="filament">
                  <span class="input-group-text" id="basic-addon-filament" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Electricity</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="electricity" placeholder="0" data-form-type="electricity">
                  <span class="input-group-text" id="basic-addon-electricity" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Printer depreciation</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="printerDepreciation" placeholder="0" data-form-type="printerDepreciation">
                  <span class="input-group-text" id="basic-addon-printerDepreciation" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Preparation</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="preparationTotal" placeholder="0" data-form-type="preparationTotal">
                  <span class="input-group-text" id="basic-addon-preparationTotal" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Post-processing</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="postProcessing" placeholder="0" data-form-type="postProcessing">
                  <span class="input-group-text" id="basic-addon-postProcessing" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Consumables</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="consumablesTotal" placeholder="0" data-form-type="consumablesTotal">
                  <span class="input-group-text" id="basic-addon-consumablesTotal" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Subtotal</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="subTotal" placeholder="0" data-form-type="subTotal">
                  <span class="input-group-text" id="basic-addon-subTotal" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="sum" class="col-sm-5 col-form-label">Including failures</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="failureTotal" placeholder="0" data-form-type="failureTotal">
                  <span class="input-group-text" id="basic-addon-failureTotal" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel title="Quote" id="panel-6">
          <ng-template ngbPanelContent>
            <div class="row mb-2">
              <label for="markup" class="col-sm-5 col-form-label">Markup</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="markup" placeholder="0" data-form-type="markup">
                  <span class="input-group-text" id="basic-addon-markup">%</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="suggestedPrice" class="col-sm-5 col-form-label">Suggested prize</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="suggestedPrice" placeholder="0" data-form-type="suggestedPrice">
                  <span class="input-group-text" id="basic-addon-suggestedPrice" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="quotedPrice" class="col-sm-5 col-form-label">Quoted price</label>

              <div class="col-sm-7">
                <div class="input-group">
                  <input type="number" class="form-control" id="quotedPrice" placeholder="0" data-form-type="quotedPrice">
                  <span class="input-group-text" id="basic-addon-quotedPrice" [innerText]="selectedCurrency"></span>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </form>
  </div>

  <div class="col-md-6 col-lg-7">
    <div>
      <h1>Part costs</h1>
      <div>
        <ngx-charts-pie-chart
          [results]="saleData"
          [legend]="false"
          [legendTitle]="'Part costs'"
          [labels]="true"
          [trimLabels]="false"
          [labelFormatting]="labelFormatting">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>

</div>
