<div class="row g-5">
  <div class="col-lg-12">
    <button mat-raised-button color="primary" class="demo-button mb-2 col-md-2" (click)="openAddPrinterDialog()">
      Add printer
    </button>

    <div class="mat-elevation-z8 col-md-12" *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Material Diameter Column -->
        <ng-container matColumnDef="materialDiameter">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="materialDiameter"> Material Diameter [mm] </th>
          <td mat-cell *matCellDef="let row"> {{row.materialDiameter}} </td>
        </ng-container>

        <!-- Printer Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="price"> Price [{{selectedCurrency}}] </th>
          <td mat-cell *matCellDef="let row"> {{row.price}} </td>
        </ng-container>

        <!-- Depreciation Time Column -->
        <ng-container matColumnDef="depreciationTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="depreciationTime"> Depreciation Time [h] </th>
          <td mat-cell *matCellDef="let row"> {{row.depreciationTime}} </td>
        </ng-container>

        <!-- Service costs per life Column -->
        <ng-container matColumnDef="serviceCostPerLife">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="serviceCostPerLife"> Service costs per life [{{selectedCurrency}}] </th>
          <td mat-cell *matCellDef="let row"> {{row.serviceCostPerLife}} </td>
        </ng-container>

        <!-- Energy consumption Column -->
        <ng-container matColumnDef="energyConsumption">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="energyConsumption"> Energy Consumption [kWh/h] </th>
          <td mat-cell *matCellDef="let row"> {{row.energyConsumption | number : '1.3-3'}} </td>
        </ng-container>

        <!-- Depreciation Column {{(row.price + row.serviceCostPerLife) / row.depreciationTime | number  }}-->
        <ng-container matColumnDef="depreciation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="depreciation"> Depreciation [{{selectedCurrency}}/h]</th>
          <td mat-cell *matCellDef="let row"> {{row.depreciation | number : '1.3-3' }} </td>
        </ng-container>

        <!-- Actions Column-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="action"> Actions </th>
          <td mat-cell *matCellDef="let row;  let i = index;">
            <button mat-icon-button (click)="openEditModal(editPrinterTemplate, i, 'modal-editPrinter-title')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteModal(deletePrinterTemplate, i, 'modal-deletePrinter-title')">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #editPrinterTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-editPrinter-title">Edit printer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row mb-2">
        <label for="editPrinterName" class="col-sm-5 col-form-label">Name</label>

        <div class="col-sm-7">
          <input type="text" class="form-control" id="editPrinterName" placeholder="Steve" data-form-type="name" maxlength="50" #editPrinterName>
        </div>
      </div>

      <div class="row mb-2">
        <label for="editPrinterFilamentDiameterSelect" class="col-sm-5 col-form-label">Filament diameter</label>

        <div class="col-sm-7">
          <select class="form-select" #editPrinterFilamentDiameterSelect id="editPrinterFilamentDiameterSelect"
                  aria-label="Filament diameter select" name="first">
            <option value="1.75">1.75mm</option>
            <option value="2.85">2.85mm</option>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="editPrinterPrice" class="col-sm-5 col-form-label">Price</label>

        <div class="col-sm-7">
          <div class="input-group">
            <input type="number" class="form-control" id="editPrinterPrice" placeholder="0" data-form-type="editPrinterPrice" #editPrinterPrice>
            <span class="input-group-text" id="basic-addon-printerPrice" [innerText]="selectedCurrency"></span>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <label for="editPrinterDepreciationTime" class="col-sm-5 col-form-label">Depreciation time</label>

        <div class="col-sm-7">
          <div class="input-group">
            <input type="number" class="form-control" id="editPrinterDepreciationTime" placeholder="0" data-form-type="editPrinterDepreciationTime" #editPrinterDepreciationTime>
            <span class="input-group-text" id="basic-addon-printerDepreciationTime">hours</span>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <label for="editPrinterServiceCost" class="col-sm-5 col-form-label">Service cost per life</label>

        <div class="col-sm-7">
          <div class="input-group">
            <input type="number" class="form-control" id="editPrinterServiceCost" placeholder="0" data-form-type="editPrinterServiceCost" #editPrinterServiceCost>
            <span class="input-group-text" id="basic-addon-printerServiceCost" [innerText]="selectedCurrency"></span>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <label for="editPrinterEnergyConsumption" class="col-sm-5 col-form-label">Energy consumption</label>

        <div class="col-sm-7">
          <div class="input-group">
            <input type="number" class="form-control" id="editPrinterEnergyConsumption" placeholder="0" data-form-type="editPrinterEnergyConsumption" #editPrinterEnergyConsumption>
            <span class="input-group-text" id="basic-addon-printerEnergyConsumption">kWh/h</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="demo-button m-1" (click)="modal.close('Save click')">
      Cancel
    </button>
    <button mat-raised-button class="demo-button m-1">
      Add
    </button>
  </div>
</ng-template>

<ng-template #deletePrinterTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-deletePrinter-title">Are you sure ?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row mb-12">
        <label class="col-sm-12 col-form-label">Are you sure you want to delete this printer?</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="demo-button m-1" (click)="modal.close('Save click')">
      Cancel
    </button>
    <button mat-raised-button class="demo-button m-1" color="warn" (click)="deletePrinterToTable()">
      Delete
    </button>
  </div>
</ng-template>
