<div class="row g-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="materialDiameter" (sort)="onSort($event)">Material Diameter [mm]</th>
      <th scope="col" sortable="price" (sort)="onSort($event)">Price [{{selectedCurrency}}]</th>
      <th scope="col" sortable="depreciationTime" (sort)="onSort($event)">Depreciation Time [h]</th>
      <th scope="col" sortable="serviceCostPerLife" (sort)="onSort($event)">Service costs per life [{{selectedCurrency}}]</th>
      <th scope="col" sortable="energyConsumption" (sort)="onSort($event)">Energy Consumption [kWh/h]</th>
      <th scope="col">Depreciation [{{selectedCurrency}}/h]</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let printer of printers">
      <td>{{ printer.name }}</td>
      <td>{{printer.materialDiameter}}</td>
      <td>{{printer.price}}</td>
      <td>{{printer.depreciationTime}}</td>
      <td>{{printer.serviceCostPerLife}}</td>
      <td>{{printer.energyConsumption | number : '1.3-3'}}</td>
      <td>{{(printer.price + printer.serviceCostPerLife) / printer.depreciationTime | number  }}</td>
    </tr>
    </tbody>
  </table>
</div>
