<div class="row g-5">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortableF="name" (sortFilament)="onSortFilament($event)">Manufacturer</th>
        <th scope="col" sortableF="materialDiameter" (sortFilament)="onSortFilament($event)">Diameter [mm]</th>
        <th scope="col" sortableF="spoolPrice" (sortFilament)="onSortFilament($event)">Spool Price [{{selectedCurrency}}]</th>
        <th scope="col" sortableF="spoolSize" (sortFilament)="onSortFilament($event)">Spool Size [kg]</th>
        <th scope="col" sortableF="density" (sortFilament)="onSortFilament($event)">Density [g/cm³]</th>
        <th scope="col" sortableF="nozzleTemp" (sortFilament)="onSortFilament($event)">Nozzle Temp [°C]</th>
        <th scope="col" sortableF="bedTemp" (sortFilament)="onSortFilament($event)">Bed Temp [°C]</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filament of filaments">
        <td>{{ filament.name }}</td>
        <td>{{filament.materialDiameter}}</td>
        <td>{{filament.spoolPrice}}</td>
        <td>{{filament.spoolSize}}</td>
        <td>{{filament.density}}</td>
        <td>{{filament.nozzleTemp}}</td>
        <td>{{filament.bedTemp }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
